@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 20px 0;
}

.hidden {
    display: none;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.title {
    color: black;
    font-size: 45px;
    margin-bottom: 10px;
}

.show-modal-btn {
    display: block;
    width: 110px;
    background-color: rgb(11, 195, 121);
    color: #fff;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 0;
}